@model IEnumerable<PAWS_NDV_PetLovers.Models.Appointments.Appointment>
@{
    ViewData["Title"] = "Index";
}

<div class="bg-secondary bg-opacity-10 py-2 mb-3">
    <div class="container">
         <h1> Registered Owners</h1>
    </div>
</div>

<div class="container">
    <div>
        <a class="btn btn-primary" asp-action="Create">Register an Appointment</a>
    </div>

    <table class="table table-striped" id="AppointmentsTable">
        <thead>
            <tr>
                <th> Appointment ID </th>
                <th> Fullname </th>
                <th> Owner ID </th>
                <th> email </th>
                <th> Contact </th>
                <th> Address </th>

            </tr>
         </thead>

         <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.AppointId)</td>
                    <td>@Html.DisplayFor(model => item.Owner.fname) @Html.Raw(' ') @Html.DisplayFor(model => item.Owner.lname)</td>
                    <td>@Html.DisplayFor(model => item.Owner.id)
                    <td>@Html.DisplayFor(model => item.Owner.email)
                    <td>@Html.DisplayFor(model => item.Owner.contact)
                    <td>@Html.DisplayFor(model => item.Owner.address)
                </tr>
            }
         
         </tbody>
    </table>

    <script src="~/js/AppointmentDataTables/AppointmentsTable.js" async></script>
</div>

@* IF YOU HAVE TIME, CHANGE ANG APPOINT ID SA APPOINTMENTS TO REGISTER ID *@