@model PAWS_NDV_PetLovers.ViewModels.TransactionsVm
@{
    ViewData["Title"] = "Diagnostic History";
}
@*
this index view is abandoned *@
<div class="bg-secondary bg-opacity-10 py-2 mb-3">
    <div class="container">
        <h3> Diagnostic History</h3>    
    </div>
</div>

<div class="container">
@*     <a asp-action="Purchase" class="btn btn-secondary">All Transactions</a> *@
  @*    <a asp-action="DiagnosticHistory" class="btn btn-secondary">Diagnostic Transaction</a> *@
     <a asp-action="PurchaseHistory" class="btn btn-secondary">Purchase</a>


    <table class="table" id="History">
         <thead>
             <tr>
                <th class="text-center">Diagnostic Id</th>
                <th class="text-center">Name</th>
                <th class="text-center">Date</th>
                <th class="text-center">Services</th>
                <th class="text-center">Total Payment</th>
             </tr>
         </thead>
         <tbody>
            @foreach(var diagnosis in Model.IDiagnostics)
            {
                <tr>
                    <td class="text-center">@Html.DisplayFor(modelItem => diagnosis.diagnostic_Id)</td>
                    <td class="text-center">
                        @{
                            var fullName = $"{diagnosis.pet.owner.fname} {diagnosis.pet.owner.fname}";
                            
                        }
                        <span>@fullName</span>
                    </td>
                     <td class="text-center">@Html.DisplayFor(modelItem => diagnosis.date)</td>
                     <td class="text-center">
                        @{
                            var services = diagnosis.IdiagnosticDetails.Select(p => p.Services.serviceName).ToList();

                            var joinServices = string.Join(", ", services);
                        }
                        <span>@joinServices</span>
                     </td>
                     @* <td class="text-center">@Html.DisplayFor(modelItem => diagnosis.totalServicePayment)</td> *@
                </tr>
            }

          
         </tbody>
     </table>
</div>


<script src="~/js/TransactionsDT/DiagnosticHistory.js" defer></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $('#History').DataTable({

            paging: false,
            scrollY: 400,
            responsive: true,
            searching: true,
            ordering: true,

        });
    </script>
}