@model IEnumerable<PAWS_NDV_PetLovers.Models.Records.Owner>
@{

}

@* <div class="container-fluid bg-info mb-4">
    <h1 class="p-3"> List of Records </h1>
</div> *@

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />

<div class="container main">
    <div class="">
        <a class="fw-bold text-white" style="text-decoration:none" asp-action="Create" asp-controller="Client"> <button class="btn btn-primary">Create</button></a>
    </div>
    <table class="table table-striped" id="ClientTable">
        <thead>
            <tr>
                <th><p style="margin:0;">Owner Id</p></th>
                <th><p style="margin:0;">Full name</p></th>
                <th><p style="margin:0;">Email</p></th>
                <th><p style="margin:0;">Contact No.</p></th>
                <th><p style="margin:0;">Email Address</p></th>
                <th><p style="margin:0;">Settings</p></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.fname)
                        @Html.Raw(' ')
                        @Html.DisplayFor(modelItem => item.lname)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.contact)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>

                    <td>
                        <a asp-action="Create" asp-route-id="@item.id"> <button class="btn btn-danger btn-sm">Update</button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
 
</div>
<script src="./js/clientCategory/Index.js" async></script>
