@model IEnumerable<PAWS_NDV_PetLovers.Models.Records.Owner>

@{
    ViewData["Title"] = "Index";
}


<!-- Alert Placeholder -->
@if (TempData["SuccessMessage"] != null)
{
    //utilize bootstrap, not for modal
    <div id="success-alert" class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}




<div class="container p-0 bg container-bord shadow mb-5 bg-white rounded">

        <div class="container  p-0">

        <div class="container p-0  bg-custom-color text-center">
            <div>
                <div class="container p-2">
                    <h1 class="fw-bold">Owner Dashboard</h1>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end pt-5 px-3">
            <a class="btn btn-primary btn-lg mb-4  bg-custom-btn btn-confirm me-2" asp-action="Create">Add new owner</a>
            <a class="btn btn-primary btn-lg mb-4  bg-custom-btn btn-cancel" asp-action="Index" asp-controller="Pets">View Pet List</a>
        </div>
            <div class="card p-3">
                <div class="table-responsive">
                <table class="table table-bordered hover" id="OwnerTable">
                    <thead> 

                        <tr class="text-center">
                           @*  <th>
                                @Html.DisplayNameFor(model => model.id)
                            </th> *@
                            <th class="text-center">
                               <span style="margin:0">Full Name</span>
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.gender)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.contact)
                            </th>
                          @*   <th>
                                @Html.DisplayNameFor(model => model.email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.address)
                   
                            </th>*@
                            <th class="text-center">
                               @Html.DisplayNameFor(model => model.registeredDate)
                            </th> 
                            @if (Context.Session.GetString("UserRole") == "Admin")
                            {
                                <th class="text-center">Actions</th>
                            }
                         
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                        <tr class="text-center" >
                           @*  <td class="text-center">
                                @Html.DisplayFor(modelItem => item.id)
                            </td> *@
                            <td>
                                @Html.DisplayFor(modelItem => item.fname)
                                @Html.Raw(' ')
                                @Html.DisplayFor(modelItem => item.mname)
                                @Html.Raw(' ')
                                @Html.DisplayFor(modelItem => item.lname)
                            </td>
         
                            <td>
                                @Html.DisplayFor(modelItem => item.gender)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.contact)
                            </td>
                          @*   <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.address)
                            </td> *@

                                <td>
                                    @item.registeredDate?.ToString("MMM. dd, yyyy")
                                </td>

                           @if(Context.Session.GetString("UserRole") == "Admin")
                            {
                                <td class="text-center">
                                    <a asp-action="Edit" class="btn btn-confirm btn-sm px-3" asp-route-id="@item.id">View</a>
                                </td>
                             }
                              @*   <a asp-action="Details" class="btn btn-warning btn-sm" asp-route-id="@item.id">Details</a>  *@
                             @*    <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.id">Delete</a>     *@
                        </tr>
                }
                    </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 
}

<script src="~/js/RecordsDataTables/OwnerTable.js" defer></script>