@model PAWS_NDV_PetLovers.ViewModels.AppointmentVm;
@{
    ViewData["Title"] = "Index";
}

<div class="bg-secondary bg-opacity-10 py-2 mb-3">
    <div class="container">
        <h1> Appointment History </h1>
    </div>
</div>

<div class="container">
    <div class="mb-5">
        <a class="btn btn-secondary" asp-action="Index" asp-controller="AppointmentDetails"> Back to Appointments</a>
    </div>

    <table class="table table-striped" id="HistoryTable">
        <thead>
            <tr>
                <th class="text-center"> Appointment Id </th>
                <th class="text-center"> Name </th>
                <th class="text-center"> Date </th>
                <th class="text-center"> Time </th>
                <th class="text-center"> Service </th>
                <th class="text-center">Status</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.IappointmentDetails)
            {
                <tr class="@(item.status == "Success" ? "table-success" : "table-danger")">
                    <td class="text-center">@Html.DisplayFor(model => item.AppointId)</td>
                    <td class="text-center">@Html.DisplayFor(model => item.Appointment.Owner.fname) @Html.Raw(' ') @Html.DisplayFor(model => item.Appointment.Owner.lname)</td>
                    <td class="text-center">@Html.DisplayFor(model => item.date)</td>
                    <td class="text-center">@Html.DisplayFor(model => item.time)</td>
                    <td class="text-center">@Html.DisplayFor(model => item.services.serviceName)</td>
                    <td class="text-center">@Html.DisplayFor(model => item.status)</td>
       
                </tr>
            }

        </tbody>
    </table>
</div>

<script src="~/js/AppointmentDataTables/HistoryTable.js" async></script>