@model PAWS_NDV_PetLovers.Models.Records.Pet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.petName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.petName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.species)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.species)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.breed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.breed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.owner.address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-controller="Owners" asp-action="Edit" asp-route-id="@Model.ownerId" asp-action="Index">Back to List</a>
</div>
