@model IEnumerable<PAWS_NDV_PetLovers.Models.Records.Pet>

@{
    ViewData["Title"] = "Index";
}


<div class="bg-secondary bg-opacity-10 py-2 mb-3">
    <div class="container">
        <h1>Pet</h1>
    </div>
</div>

<div class="container">

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-striped table-info" id="PetTable">
    <thead>
            <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.petName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.species)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.petName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.species)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.owner.id)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
    </table>
</div>

<script src="~/js/clientCategory/PetDataTable.js" defer></script>