@model PAWS_NDV_PetLovers.ViewModels.TransactionsVm
@{
    ViewData["Title"] = "View History";
}

<div class="bg-secondary bg-opacity-10 py-2 mb-3">
    <div class="container">
        <h3> Diagnostic Information</h3>
    </div>
</div>

<div class="container">
    <a asp-action="Edit" asp-route-id="@Model.Diagnostics.pet.ownerId" asp-controller="Owners" class="btn btn-primary my-2">View Owner</a>
    <a asp-action="DiagnosHistory" asp-route-id="@Model.Diagnostics.petId" asp-route-ownerId="@Model.Diagnostics.pet.ownerId" class="btn btn-secondary my-2">Back to History</a>

        <div class="row mt-3">
            <div class="form-group col-lg-3">
                <!-- Hidden Field for Date -->
                <label asp-for="Diagnostics.date" class="control-label"></label>
                <input asp-for="Diagnostics.date" class="form-control dateInput" value="@Model.Diagnostics.date" readonly />
            </div>
            <div class="form-group col-lg-3">
                <!-- Hidden Field for Date -->
                <label asp-for="Diagnostics.weight" class="control-label"></label>
                <input asp-for="Diagnostics.weight" class="form-control bg-light decimal-input" placeholder="Input weight" value="@Model.Diagnostics.weight" required />
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>

                    <th>Service Name</th>
                    <th>Details</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Diagnostics.IdiagnosticDetails)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Services.serviceName)
                        </td>

                        <td>
                            <textarea class="form-control bg-light" rows="10" style="resize: none;" readonly>@item.details</textarea>
                        </td>

                    </tr>
                }

            </tbody>
        </table>

</div>

