@model PAWS_NDV_PetLovers.ViewModels.ReportsVm
@{
    ViewData["Title"] = "Stock Level Report";
}
<form method="post" asp-action="ProductMgmtReport" asp-controller="PawsReport" class="p-3">

    <div class="container d-flex justify-content-center">
        <div class=" w-60 text-center row mt-1">
            <div class="form-group mt-auto col-auto col-lg-5">

                @if (Model.SelectType == "allCategory")
                {
                    <select id="selectType" name="SelectType" class="form-control bg-light me-4 form-select" asp-items="@ViewBag.CategoryList" required>
                        <option value="" hidden>-- Select --</option>
                        <option value="allCategory" selected>All Category</option>
                        @*  <option value="expiration">Product Expiration</option> *@
                    </select>
                }
                else if (Model.SelectType != null)
                {
                    <select id="selectType" name="SelectType" class="form-control bg-light me-4 form-select" asp-items="@ViewBag.CategoryList" selected required>
                        <option value="allCategory">All Category</option>
                        @*  <option value="expiration">Product Expiration</option> *@
                    </select>
                }
                else
                {
                    <select id="selectType" name="SelectType" class="form-control bg-light me-4 form-select" asp-items="@ViewBag.CategoryList" required>
                        <option value="" hidden selected>-- Select --</option>
                        <option value="allCategory">All Category</option>
                        @*           <option value="expiration">Product Expiration</option> *@
                    </select>
                }

            </div>

            <div id="statusVisibility" class="form-group mt-auto col-auto statusVisibility pt-1">
                @switch (Model.Status)
                {
                    case "Low":
                        <select name="Status" class="form-control bg-light me-4 form-select" required>
                            <option value="" hidden>--Status</option>
                            <option value="Low" selected>Low</option>
                            <option value="High">High</option>
                            <option value="All">All</option>
                        </select>
                        break;

                    case "High":
                        <select name="Status" class="form-control bg-light me-4 form-select" required>
                            <option value="" hidden>--Status</option>
                            <option value="Low">Low</option>
                            <option value="High" selected>High</option>
                            <option value="All">All</option>
                        </select>
                        break;

                    case "All":
                        <select name="Status" class="form-control bg-light me-4 form-select" required>
                            <option value="" hidden>--Status</option>
                            <option value="Low">Low</option>
                            <option value="High">High</option>
                            <option value="All" selected>All</option>
                        </select>
                        break;

                    default:
                        <select name="Status" class="form-control bg-light me-4 form-select" required>
                            <option value="" hidden selected>--Status</option>
                            <option value="Low">Low</option>
                            <option value="High">High</option>
                            <option value="All">All</option>
                        </select>
                        break;
                }
            </div>
            <div class="form-group col-lg-2 pt-3">
                <input type="submit" value="View" class="btn btn-primary btn-cancel" />
            </div>
        </div>
    </div>
</form>

<div class="card p-3">
    <div class="table-responsive text-center">
        <table class="table table-bordered hover text-center">
            <thead>
                <tr>
                    <th class="text-center">Product Name</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Stocks</th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Filtered)
                {
                    if (Model.Status != null)
                    {
                        @switch (Model.Status)
                        {
                            case "Low":
                                if (Model.IProducts.Count() > 0)
                                {
                                    @foreach (var stock in Model.IProducts)
                                    {
                                        <tr class="bg-danger bg-opacity-10">
                                            <td>@stock.productName</td>
                                            <td>@stock.category.categoryName</td>
                                            <td>@stock.quantity</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="3" class="text-center">No Products found</td>
                                    </tr>
                                }
                                break;

                            case "High":
                                if (Model.IProducts.Count() > 0)
                                {
                                    @foreach (var stock in Model.IProducts)
                                    {
                                        <tr>
                                            <td>@stock.productName</td>
                                            <td>@stock.category.categoryName</td>
                                            <td>@stock.quantity</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="3" class="text-center">No Products found</td>
                                    </tr>
                                }
                                break;

                            case "All":
                                if (Model.IProducts.Count() > 0)
                                {
                                    foreach (var stock in Model.IProducts)
                                    {
                                        if (stock.quantity <= 10)
                                        {
                                            <tr class="bg-danger bg-opacity-10">
                                                <td>@stock.productName</td>
                                                <td>@stock.category.categoryName</td>
                                                <td>@stock.quantity</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>@stock.productName</td>
                                                <td>@stock.category.categoryName</td>
                                                <td>@stock.quantity</td>
                                            </tr>
                                        }
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="3" class="text-center">No Products found</td>
                                    </tr>
                                }
                                break;
                        }
                    }
                    else
                    {
                        if (Model.IProducts.Count() > 0)
                        {
                            foreach (var stock in Model.IProducts)
                            {
                                if (stock.quantity <= 10)
                                {
                                    <tr class="bg-danger bg-opacity-10">
                                        <td>@stock.productName</td>
                                        <td>@stock.category.categoryName</td>
                                        <td>@stock.quantity</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>@stock.productName</td>
                                        <td>@stock.category.categoryName</td>
                                        <td>@stock.quantity</td>
                                    </tr>
                                }
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3" class="text-center">No Products found</td>
                            </tr>
                        }
                    }
                }

            </tbody>
        </table>
    </div>
</div>
