@model PAWS_NDV_PetLovers.ViewModels.RecordsVm
@{
    ViewData["Title"] = "Stock Adjustment";
}

<div class="container p-0 bg container-bord">
    <div class="container p-0">

        <div class="container p-0  bg-custom-color">
            <div>
                <div class="container p-2">
                    <h1>Stock Adjustments</h1>
                </div>
            </div>
        </div>

            <div class="container p-3">
             <a class="btn btn-secondary btn-cancel" asp-action="Index">Back to Product List</a>
            </div>


        <div class="card p-3">
            <div class="table-responsive">
                 <table class="table table-bordered text-center" id="StockAdjTable">
                        <thead>
                            <tr class="text-center">
                                <th class="text-center">Date</th>
                                <th class="text-center">Product Name</th>
                                <th class="text-center">Source</th>
                                <th class="text-center">Quantity</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @foreach (var stock in Model.IstockAdjustment)
                            {
                                if (stock.source == "Sales")
                                {
                                    <tr class="bg-danger bg-opacity-10 text-center">
                                        <td>@stock.date.ToString("MMM. dd, yyyy")</td>
                                        <td>@stock.productsNav.productName</td>
                                        <td> @stock.source</td>
                                        <td>-@stock.stock</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr class="bg-success bg-opacity-10 text-center">
                                        <td>@stock.date.ToString("MMM. dd, yyyy")</td>
                                        <td>@stock.productsNav.productName</td>
                                        <td>@stock.source</td>
                                        <td>+@stock.stock</td>
                                    </tr>
                                }

                            }

                        </tbody>
                </table>
            </div>
        </div>
</div>
</div>

<script src="~/js/stockAdjTable/StockAdjTable.js" defer></script>