@model PAWS_NDV_PetLovers.ViewModels.RecordsVm
@{
    ViewData["Title"] = "Stock Adjustment";
}

<div class="bg-custom-color">
    <div class="container">
        <h1>Stock Adjustments</h1>
    </div>
</div>
<div class="container mt-4">
    <a class="btn btn-secondary" asp-action="Index">Back to Product List</a>

    <table class="table table-bordered" id="StockAdjTable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Product Name</th>
                <th>Source</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stock in Model.IstockAdjustment)
            {
                if (stock.source == "Sales")
                {
                    <tr class="bg-danger bg-opacity-10">
                        <td>@stock.date.ToString("MMM. dd, yyyy")</td>
                        <td>@stock.productsNav.productName</td>
                        <td> @stock.source</td>
                        <td>-@stock.stock</td>
                    </tr>
                }
                else
                {
                    <tr class="bg-success bg-opacity-10">
                        <td>@stock.date.ToString("MMM. dd, yyyy")</td>
                        <td>@stock.productsNav.productName</td>
                        <td>@stock.source</td>
                        <td>+@stock.stock</td>
                    </tr>
                }

            }

        </tbody>
    </table>
</div>
<script src="~/js/stockAdjTable/StockAdjTable.js" defer></script>